matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
openai==1.51.1
opencv-python==4.10.0.84
pandas==2.2.3
pydantic==2.9.2
pytz==2022.7.1
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
streamlit
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
toml==0.10.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
ultralytics==8.3.7
libgl1-mesa-glx
libglib2.0-0
ultralytics>=8.0.0,<8.4.0